doctype html
html
  head
    title Next
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width,initial-scale=1.0")
    link(rel="stylesheet", href= "https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css")
    script.
      function addMessage() {
        const xhr = new XMLHttpRequest()
        const url =  '!{backUrl + '/api/add-new-message'}'

        xhr.open('POST', url)
        xhr.setRequestHeader('Content-type', 'application/json')
        const inputText = document.getElementById('input-text')
        const inputAuthor = document.getElementById('input-author')
        if(!inputText.value) {
          alert('The field "text" is empty')
          return
        }
        if (!inputAuthor.value) {
          alert('The field "author" is empty')
          return
        }
        xhr.send(
            JSON.stringify({
              text: inputText.value,
              author: inputAuthor.value,
             }))
        xhr.onload = () => {
          if (Number(xhr.status) !== 201) {
            alert(`Произошла ошибка. ${xhr.responseText}`)
            return
          }
          inputText.value = ''
          inputAuthor.value = ''
          location.href = '!{backUrl+ '/message-board'}'
        }
      }
  body
    div
      nav.navbar.navbar-expand-md.navbar-dark.fixed-top.bg-dark
        div#navbarCollapse.collapse.navbar-collapse
          ul.navbar-nav.mr-auto
            li.nav-item
              a.nav-link.active(href= backUrl+ "/message-board") message board
            li.nav-item
              a.nav-link(href= frontUrl + "/average-numbers" ) average numbers
            li.nav-item
              a.nav-link(href= gitRepositoryUrl) git repository
    div(style='margin-top:5em; margin-left:3em;')
      each message in messages
        div
          p(style='margin: 0.1em;') #{message.author}
          p #{message.text}
    div(style="margin-left:3em;")
      input(id="input-text" style="margin-right:2em;" placeholder="text")
      input(id="input-author" style="margin-right:2em;" placeholder="author")
      button.btn.btn-success(id="add-message" onclick="addMessage()") add

